<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <!-- Include any necessary styles or scripts here -->
</head>
<body>
    <h2>Events</h2>
    <form method="post" action="{{ url_for('search_event') }}">
        <label for="search_query">Search Events:</label>
        <input type="text" name="search_query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.event_name }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
